details > summary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: left;
  font-size: 120%;
  font-weight: 300;
  background-color: #E2CBDB;
  color:black;
  padding: 1rem;
}

details > summary:hover {
	background-color: pink;
}

.answer-text {
	display: block;
	margin: 0.5rem auto 0.5rem auto;
	width: 45vw;
	text-align: left;
  	background-color: white;
	  padding: 1rem;
	  border: 2px solid black;
	  border-radius: 5px;
}


body {
	background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1595536230/question_2_fohio8.png"), linear-gradient(#f8fad7, white);
	background-size: 5rem;
	background-repeat: repeat;
	  background-attachment: fixed;
	  font-family: 'work sans';
	  font-size: 100%;
	  padding: 0;
	  margin: 0;
	  background-color: white;
	  width: 100%;
	  overflow-x: hidden;
	}

	#question-mark {
		filter: opacity(40%);
		padding: 1rem;
		rotate: 45deg;
	}
	
	nav {
	  display: grid;
	  grid-template-columns: 10% 1fr 1fr 1fr 1fr;
	  align-items: center;
	  justify-items: center;
	  position: absolute;
	  padding: 1rem;
	  font: 100 1.5rem/0.5pt 'open sans condensed';
	  width: 90%;
	  z-index: 2;
	}

	#nav-list {
	  text-decoration: none;
	  list-style: none;
	  color: black;
	}

nav img {
  height: 4rem;
}

nav img:hover {
  filter: opacity(100%);
}

	.link {
	  text-decoration: none;
	  color: inherit;
	  font-weight: 200;
	}


	.nav-list-item {
	  text-transform: uppercase;
	  letter-spacing: 0.5pt;
	}

	.nav-list-item:hover {
		color:pink;
	}

	.title-container {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
   	  margin-top: auto;
      margin-bottom: auto;
	  padding: 1rem;
	}

.small-hero-section-container {
	display: flex;
	padding: 0;
	margin: 0;
	background-size: cover;
	align-items: center;
	background-position: top center;
	background-attachment: fixed;
	height: auto;
	min-height: 20vh;
}

@keyframes colorPop {
	0% {color: gray;}
	100% {color: pink;}
}

#first{
	animation-name: colorPop;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
}

.section {
	  	min-height: 100vh;
    	margin-left: 15vw;
    	margin-right: 15vw;
	}

.centered-container {
    display: flex;
    justify-content: center;
	min-height: 100vh;
    background-color: white;
	}

h1 {
  justify-self: center;
  color: gray;
  font-family: 'kanit', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 420%;
  line-height: 4.5rem;
}

h2 {
 margin-top: 0;
 margin-bottom: 0;
 padding-top: 1rem;
 padding-bottom: 1rem;
 font-family: 'cedarville cursive';
 font-size: 300%;
 font-weight: lighter;
 text-align: center;
}

h2:hover {
      color: pink;
      font-size: 302%;
      letter-spacing: inherit;
      animation-name: wiggle-letters;
      animation-duration: 3s;
      animation-iteration-count: infinite;
}

h3 {
  text-align: center;
  font-family: 'open sans condensed';
}

.faq-main-container {
  padding: 2rem 0 2rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  height: 70vh;
}

#social-media-container {
	   display: grid;
	   width: auto;
	   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	   grid-gap: 1rem;
	   font-size: 95%;
	   text-align: center;
	   margin-left: auto;
	   margin-right: auto;
	}
	
.social-media-icon {
  height: 2rem;
  width: auto;
}

.footer-container-wrapper {
	display: flex;
	justify-content: center;
	height: auto;
	padding-top: 5rem;
  }

#footer-container {
	display: flex;
	width: 100vw;
	background-color: black;
	filter: opacity(70%);
	margin-top: 2rem;
	}

	footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 0.5rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 95vw;
	  color: silver;
	  grid-template-columns: 20vw 1fr 20vw;
	  grid-template-rows: 7vh 1fr;
	  font-size: 95%;
	  padding: 2rem 1rem 1rem 1rem;
	  line-height: 1.5;
	}

	.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 15vh;
	}
	
	.column-3 {
	  text-transform: uppercase;
	  letter-spacing: 0.5pt;
	  font-weight: 500;
	}
	
.footer-reference-link {
	  text-decoration: none;
	  color: white;
	}
	
.footer-reference-link:hover {
	  text-decoration: underline;
	  color: white;
	}
.footer-list-item:hover {
  font-weight: 700;
}
.inline {
	 display: inline;
	}



/******************XXS screen*******************/
@media only screen
and (max-device-width: 375px) {
	 body {
	font-size: 130%;
}

body {
	background-image: #f8fad7 url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1595536230/question_2_fohio8.png");
	background-size: 5rem;
	background-repeat: repeat;
	  background-attachment: fixed;
	  font-family: 'work sans';
	  font-size: 100%;
	  padding: 0;
	  margin: 0;
	  background-color: white;
	  width: 100%;
	  overflow-x: hidden;
	}

h1 {
	margin-top: 20vh;
	font-weight: 800;
	font-size: 3.7rem;
	line-height: 3rem;
	  }

	  nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: center;
		justify-items: center;
		position: absolute;
		padding: 0.5rem;
		font: 100 1.3rem/0.5pt 'open sans condensed';
		width: 95%;
		z-index: 2;
	  }

	  #atom-home-link {
		 grid-column: 2 / 4;
		 grid-row: 1 / 2;
		justify-self: center;
		align-self: stretch;
	  }

	  #home-link {
		  grid-column: 0 / 1;
		  grid-row: 2 / 3;
	  }

	  #samples-link {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	  }

	  #about-me-link {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	  }

	  #contact-link {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	  }
	


details > summary {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	text-align: left;
	font-size: 110%;
	font-weight: 300;
	background-color: #E2CBDB;
	color:black;
	padding: 1rem;
  }
  
  details > summary:hover {
	  background-color: pink;
  }
  
  .answer-text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: white;
	padding: 1rem;
  }

.faq-main-container {
	padding: 2rem 0 2rem 0;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	height: 70vh;
	max-width: 100%;
	margin-bottom: 30vh;
  }

  #footer-container-wrapper {
	width: 100%;
}

.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 20vh;
	}

	#footer-container {
		display: flex;
		width: 100%;
		background-color: black;
		filter: opacity(70%);
		margin-top: 2rem;
	   }

	.column-1 {
		display: none;
	}

footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 1rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 100%;
	  color: silver;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 7vh 1fr;
	  font-size: 85%;
	  line-height: 1.5;
	}
}

/*******************iphone*********************/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	  h1 {
		  size: 10rem;
	  }

	} 

}

  /******************XS screen*******************/
	@media only screen
	and (min-device-width: 376px)
	and (max-device-width: 480px) {
	     body {
		font-size: 100%;
		}

		nav {
			display: grid;
			grid-template-columns: 100%;
			position: absolute;
			padding: 0;
			font: 100 1.5rem/0.5pt 'open sans condensed';
			width: 100%;
			z-index: 2;
		}
	  
			#nav-list {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				text-decoration: none;
				list-style: none;
				  }
	  
		  #nav-list li {
			  padding: 0;
		  }
	  
	  #inner-nav-container {  
		  display: none;
	  }
	  
	  #logo-container div {
		  display: none;
	  }

	details > summary {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: left;
		font-size: 110%;
		font-weight: 300;
		background-color: #E2CBDB;
		color:black;
		padding: 1rem 0.5rem 1rem 0.5rem;
	  }
	  
	  details > summary:hover {
		  background-color: pink;
	  }
	  
	  .answer-text {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
		background-color: white;
		padding: 1rem;
	  }

	.faq-main-container {
		padding: 2rem 0 2rem 0;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-content: center;
		height: 70vh;
		width: 95%;
	  }

	.section {
	width: 100%;
  }

	h1 {
		margin-top: 20vh;
		font-weight: 800;
		font-size: 3.5rem;
		line-height: 3rem;
		  }

h2 {
  font-family: 'source sans pro';
  font-size: 2rem;
  font-weight: 300;
  color: #D8C0A8;
  align-self: flex-start;
}

#footer-container-wrapper {
	width: 100%;
}

.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 20vh;
	}

	#footer-container {
		display: flex;
		width: 100%;
		background-color: black;
		filter: opacity(70%);
		margin-top: 2rem;
	   }

	.column-1 {
		display: none;
	}

footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 1rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 100%;
	  color: silver;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 7vh 1fr;
	  font-size: 85%;
	  line-height: 1.5;
	}
}

/******************S screen*******************/
	@media only screen
	And (min-device-width: 481px)
	and (max-device-width: 767px) {
	    body {
		font-size: 100%;
		}

		h1 {
			font-weight: 800;
			font-size: 5.5rem;
			line-height: 4rem;
			  }	
	}

/******************M screen / iPad *******************/
	@media only screen
	And (min-device-width: 768px)
	and (max-device-width: 990px) {
	     body {
		font-size: 110%;
	}

	nav {
		display: grid;
		grid-template-columns: 10% 1fr 1fr 1fr 1fr;
		align-items: center;
		justify-items: center;
		position: absolute;
		padding: 1rem;
		font: 100 1.5rem/0.5pt 'open sans condensed';
		width: 60%;
		z-index: 2;
	  }
}
/******************L screen*******************/
	@media only screen
	And (min-device-width: 991px)
	and (max-device-width: 1199px) {
	     body {
		font-size: 100%;
		}
	}

/******************XL screen*******************/
	@media only screen
	And (min-device-width: 1200px) {
	     body {
		font-size: 100%;
	}

	h1 {
		justify-self: center;
		color: gray;
		font-family: 'kanit', sans-serif;
		font-style: italic;
		font-weight: 800;
		font-size: 750%;
		line-height: 4.5rem;
	  }

}