/**XS is base**/

#hero-button {
  font-size: 1.3rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  border-color: white;
  background-color: black;
 
}

body {
  font-size: 125%;
}

a:link {
  color: inherit;
  padding: 0 0.2rem 0 0.2rem;
}

a:visited {
  color: inherit;
  font-weight: bold;
}

#email-link {
  font-weight: bold;
}

.no-display {
  display: none;
}

nav button {
  display: inline;
}

nav > a:visited {
  color: white;
}

.nav-item > a {
  color: white;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
    font: 300 1rem auto, sans-serif;
    text-transform: uppercase;
    color: #ada7c9;
    text-align: right;
  }

#nav-name {
  font-family: 'cedarville cursive';
  font-size: 2rem;
  color: white;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

h1 {
  font: italic 300 2.5rem 'kanit', sans-serif;
  display: block;
  color: white;
  background-color: #000000c0;
  margin-top: 45vh;
  padding: 20vh 0 20vh 0;
  line-height: 1.5;
  animation-name: fade-in;
  animation-duration: 5s;
}

@keyframes fade-in {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}

.icon {
  padding: 0;
  margin: 0;
}

#process-section {
  width: 100%;
}

.process-cell {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  text-align: center;
  }

.process-cell > details > summary {
  text-align: center;
}

.process-cell > details {
  text-align: left;
}

details > summary {
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 0;
}

#faq-section > .answer-text {
  padding: 1rem 0 1rem 0;
}

.number-image {
  width: 75px;
  height: auto;
  align-self: center;
  padding-top: 1rem;
}

  #process-cell-1 {
      background-color: #d7b9d5;
  }
  #process-cell-2 {
      background-color: #ada7c9;
  }
  #process-cell-3 {
      background-color: #90a8c3;
  }
  #process-cell-4 {
      background-color: #64a6bd;
  }

  #samples-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .samples-cell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    width: 400px;
    background-color: #e2cbd82d;
    border: 1rem solid white; 
    overflow: hidden;
  }

  .samples-cell a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    font-weight: bold;
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
   
  }

  #hero-image-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    }
  
  #hero-image {
    background-color: black;
    background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1600120062/resized-kurt3_subo8x.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: 70% 60%;
    text-align: center;
    margin-top: -100px;
    }

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 15.6rem;
    height: 15.6rem;
    padding: 1rem;
  }
  
iframe:hover {
    border: 1px solid #E2CBD8;
    background-color: #E2CBD8;
  }

  #social-media-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 0.95rem;
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
  }

  .social-media-icons {
    width: 50px;
    height: auto;
    margin: 1rem;
  }

  .question-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 400px;
  }

  #gear-story-container {
    display: block;
    margin: 20vh auto 20vh auto;
    width: 400px;
  }

  section h2 {
    text-align: center;
    font: lighter 3rem 'cedarville cursive';
    color: #beaab6;
    line-height: 1.3;
    margin: 2rem 0 2rem 0;
  }

  section h3 {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
  }

  #email-link {
    text-align: center;
  }

  #contact-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 300px;
    background: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1595535631/atom_gdlrho.png") no-repeat;
    background-size: contain;
  }

  #footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin: 2rem 0 0 0;
    padding: 2rem 0 2rem 0;
    text-align: center;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
  }


/**S - 576px and up**/ 
@media (min-width: 576px) {
  #social-media-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 0.95rem;
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
  }

  h1 {
    margin-top: 60vh;
  }
}

/**M - 768px and up**/ 
@media (min-width: 786px) {

  section h2 {
    font: lighter 3.5rem 'cedarville cursive';
  }

  h1 {
    font: italic 300 2.5rem 'kanit', sans-serif;
    display: block;
    color: white;
    background-color: #000000c0;
    margin-top: 55vh;
    padding: 5vh 0 5vh 0;
    line-height: 1.5;
  }

  #email-link {
  }

  .navbar-nav {
    position: absolute;
    margin-left: 20vw;
  }

}

/**L - 992 and up**/ 
@media (min-width: 992px) {


  body {
    font-size: 110%;
  }

  #hero-image {
    background-color: black;
    background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1600115888/resized-kurt2_delydw.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: -150px;
    }

    h1 {
      margin-top: 60vh;
      font-size: 4.7rem;
      padding: 2rem 0 3rem 0;
      line-height: 1;
  }
    }

    .navbar-nav {
      text-align: right;
      margin-left: 20vw;
    }
  
   

    #nav-name {
      font-family: 'cedarville cursive';
      font-size: 5rem;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 0;
      padding-right: 0;
      color: rgb(255, 231, 235);
      text-shadow: 5px 5px 15px rgb(255, 0, 157), -5px -5px 15px fuchsia;
    }

  .navbar-brand img {
    display: none;
  }

  .social-media-icons:hover {
    filter: opacity(50%);
  }

  #footer-container-wrapper {
    background: #E2CBD8 url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1596132789/science_4_u3dc9w.png") repeat fixed;
    background-size: 5rem;
    padding: 5rem 0 0 0;
    margin: 0;
  }

  .samples-cell a {
    text-align: center;
  }

}

/**XL - 1200 and up**/ 
@media (min-width: 1200px) {

  body {
    font-size: 100%;
  }

  #nav-menu {
    position: absolute;
    margin-left: 30vw;
  }

  h1 {
    margin-top: 45vh;
  }

  main {
    overflow-x: hidden;
  }

  .samples-cell {
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 100%;
   height: 400px;
   }

  .samples-cell a {
    height: 100px;
    size: 1rem;
  }
}

/**XL - 1400 and up**/ 
@media (min-width: 1200px) {

  body {
    display: block;
    overflow-x: hidden;
    font-size: 100%;
  }

  #nav-menu {
    margin-left: 39vw;
  }

  h1 {
    margin-top: 55vh;
  }

  .samples-cell {
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 100%;
   height: 400px;
   }

  .samples-cell a {
    height: 100px;
    size: 1rem;
  }
}

