body {
  margin: 0;
  padding: 0;
  font-family: 'work sans';
  font-size: 100%;
}

header {
  width: 95%;
}

main {
  width: 95vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: absolute;
  padding: 0;
  font-family: 'open sans condensed';
  font-size: 1.5rem;
  line-height: 0.5pt;
  width: 100%;
  z-index: 2;
}

.nav-list-item:hover {
  color: pink;
}

  nav ul {
  display: flex;
  text-align: right;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: white;
}

  nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.5pt;
  justify-self: end;
  padding: 1rem;
  }

#inner-nav-container {  
display: flex;
justify-content: flex-end;
}

#logo-container {
  font-family: 'open sans condensed', sans-serif;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

#logo-container:hover {
  color: pink;
}

nav img {
height: 4rem;
padding: 0.5rem;
}

nav img:hover {
color: pink;
}

a { /**prevents automatic hyperlinks**/
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  }

h1 {
  font: 100 6.5rem 'cedarville cursive';
  color: white;
  justify-self: center;
  text-shadow: 5px 5px 10px #FD1F6D;
  margin-top: 15vh;
  width: 100%;
}

h1:hover {
  color: pink;
}

#hero-image-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  }

#hero-image {
  background: white url("images/resized-kurt.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center;
  }

h2 {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  font: lighter 4rem 'cedarville cursive';
  text-align: center;
}

h3 {
  font-family: 'work sans';
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  font-family: 'cedarville cursive';
  font-size: 2rem;
  text-align: center;
}

details {
padding: 0 1rem 0 1rem;
}

  details > summary {
  padding: 0.5rem 0 0.5rem 0;
  width: auto;
}

  details > summary:hover {
  font-weight: bold;
}

.answer-text {
  padding-top: 1rem;
  }

#process-section, #samples-section, #about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 95%;
}

#process-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: none;
  color: black;
  width: 95%;
  height: auto;
  min-height: 30vh;
  justify-content: center;
  align-self: center;
  grid-gap: 1rem;
  padding: 1rem;
}

.process-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }

  #process-cell-1 {
      background-color: #d7b9d5;
  }
  #process-cell-2 {
      background-color: #ada7c9;
  }
  #process-cell-3 {
      background-color: #90a8c3;
  }
  #process-cell-4 {
      background-color: #64a6bd;
  }

  .number-image {
      width: 64px;
      height: auto;
      align-self: center;
      padding-top: 2.5rem;
  }

  .gear-story-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      width: 90.5%;
      height: auto;
      justify-items: center;
      align-self: center;
      grid-gap: 1rem;
      padding: 2rem 1.5rem 2rem 1.5rem;
      margin: 10vh 0 0 0;
    }

  #covid-text a {
    font-weight: bold;
  }

  #covid-text p {
    width: 22rem;
  }

  #pricing-box p {
    font-size: 3rem;
    text-align: center;
    color: #d7b9d5;
  }


  .thick-link {
      border-bottom: 7px solid #E2CBD8;
  }

  main a:hover {
    font-weight: bold;
  }

  #samples-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 0.625rem;
      padding: 0.625rem;
      align-items: start;
      justify-items: center;
      width: 95%;
    }
  
  iframe {
      border: 0;
      width: 15.6rem;
      height: 15.6rem;
    }
    
  iframe:hover {
      filter: opacity(50%);
    }

  
  .no-display {
      display: none;
      }

  #about-container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
  }

    #bio-text {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
      border: 1px solid #E2CBD8;
      padding: 1.5rem 1rem 1.5rem 1rem;
    }
    
  
    #contact-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-self: center;
      grid-gap: 2rem;
    }

    #email-cell {
        display: flex;
        height: 30vh;
        justify-items: center;
        align-items: center;
        background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1595535631/atom_gdlrho.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    #email-link {
      justify-self: center;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      
    }

    #email-link:hover {
      color: magenta;
    }

    @keyframes holographicEffect {
      10% {filter: hue-rotate(180deg);}
      20% {filter: hue-rotate(270deg);}
      30% {filter: hue-rotate(360deg);}
      40% {filter: hue-rotate(270deg);}
      50% {filter: hue-rotate(180deg);}
      60% {filter: hue-rotate(270deg);}
      70% {filter: hue-rotate(360deg);}
      80% {filter: hue-rotate(270deg);}
      90% {filter: hue-rotate(180deg);}
      100%{filter: hue-rotate(270deg);}
      }
    
    #contact-container:hover {
      animation-name: holographicEffect;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    #social-media-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      font-size: 0.95rem;
      text-align: center;
      width: 100%;
      padding-bottom: 2rem;
   }
   
   .social-media-icons:hover {
     filter: opacity(50%);
   }
   
   .social-media-icons {
     padding-top: 0.625rem;
     max-height: 50px;
     max-width: 50px;
     font-size: 0.9rem;
     border-style: none;
   }


   #footer-container-wrapper {
      display: flex;
    justify-content: center;
    background: white url("images/resized-kurt.jpg") no-repeat fixed bottom center;
      background-size: cover;
      height: auto;
      padding-top: 5rem;
      width: 100%;
    }

    #footer-container {
     display: flex;
     background-color: black;
     filter: opacity(60%);
     margin-top: 2rem;
     width: 100%;
    }

    footer {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      color: silver;
      grid-template-columns: 20% 1fr 20%;
      grid-template-rows: 1fr;
      font-size: 0.95rem;
      line-height: 1.5;
      padding: 1rem 0 1rem 0;
    }

    .column-3, .column-2, .column-1 {
      display: grid;
      justify-content: center;
      align-content: center;
      text-align: center;
      height: 15vh;
    }
    
    .column-3 {
      text-transform: uppercase;
      letter-spacing: 0.5pt;
      font-weight: 500;
    }
    
.footer-reference-link {
      text-decoration: none;
      color: white;
    }
    
.footer-reference-link:hover {
      text-decoration: underline;
      color: white;
    }
.footer-list-item:hover {
  font-weight: 700;
}
.inline {
     display: inline;
    }
	
/********************XS STYLES***********************/
@media only screen
  and (max-device-width: 480px) {

body {
  font-size: 120%;
  overflow-x: hidden;
}

header {
  width: 100%;
}

#samples-container {
  display: none;
}

main {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: none;
}

nav {
  display: none;
}

h1 {
  font: italic 700 10rem 'kanit', sans-serif;
  color: #80727f;
  justify-self: center;
  text-shadow: none;
  margin-top: 25vh;
  width: 100%;
  height: auto;
  line-height: 0.7;
  transform: skew(15px);

}

#small-screen-subtitle {
  display: block;
  color: #80727f;
  font: 2rem 'work sans';
  font-weight: bold;
  text-transform: uppercase;
  padding-top: -10px;
}

#hero-image-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  }

#hero-image {
  background: white url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1595535631/atom_gdlrho.png") repeat fixed; /*linear-gradient(purple,#d7b9d5, white); */
  background-size: 5rem;
  text-align: center;
  }

h2 {
  margin: 0;
  padding: 1rem 0 1rem 0;
  font: lighter 3rem 'cedarville cursive';
  text-align: center;
  line-height: 1.5;
}

h3 {
  font-family: 'work sans';
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

details {
padding: 0 1rem 0 1rem;
}

  details > summary {
  padding: 0.5rem 0 1rem 0;
  width: auto;
  font-size: 1.5rem;
}

.answer-text {
  padding-top: 1rem;
  }

#process-section, #samples-section, #about-section {
  max-width: 100%;
}

#samples-section {
  padding-bottom: 3rem;
}

#process-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: none;
  color: black;
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin: 0 0 0 0;
}

.number-image {
  width: 64px;
  height: auto;
  align-self: center;
  padding-top: 1rem;
}

  .gear-story-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      height: auto;
      justify-items: center;
      align-self: center;
      grid-gap: 1rem;
      padding: 10vh 0 1.5rem 0;
      margin: 0 0 0 0;
      border: none;
    }

    #covid-text {
      padding: 1rem;
    }

  #pricing-box {
      padding-top: 12vh;
      width: 100%;
      text-align: center;
  }

  #pricing-box p {
    font-size: 3rem;
    text-align: center;
    color: #E2CBD8;
  }

  .thick-link {
      font-weight: bold;
      border-bottom: 7px solid #E2CBD8;
    }

  .no-display {
      display: none;
      }

  #small-samples-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

iframe {
	display: flex;
	border: 0;
  width: 95%;
  height: 42px;
  align-self: center;
}

  #about-container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 0 0 0;
  }

    #bio-text {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      border: none;
      padding: 1rem 1rem 1rem 1rem;
    }

    #contact-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-self: center;
      grid-gap: 2rem;
    }

   #footer-container-wrapper {
      display: flex;
      justify-content: center;
      background: white url("images/resized-kurt.jpg") no-repeat fixed bottom center;
      background-size: cover;
      height: auto;
      padding-top: 1rem;
      width: 100%;
    }

    #footer-container {
     display: flex;
     background-color: black;
     filter: opacity(60%);
     margin-top: 2rem;
     width: 100%;
    }

    footer {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 0.5rem;
      width: 95%;
      color: silver;
      font-size: 1rem;
      line-height: 1.5;
      padding: 1rem 0 1rem 0;
    }
    .column-1, .column-3 {
      display: none;
    }

}

/******************S styles************************/
@media only screen 
  and (min-device-width: 481px)
  and (max-device-width: 767px) {
    
    body {
      font-size: 130%;
    }
    
    header {
      width: 100%;
    }

    main {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    nav ul {
      display: none;
    }
    
    nav {
      display: none;
    }
    
    h1 {
      font: italic 700 10rem 'kanit', sans-serif;
      color: silver;
      justify-self: center;
      text-shadow: none;
      margin-top: 25vh;
      width: 100%;
      height: auto;
      line-height: 0.7;
    
    }
    
    #small-screen-subtitle {
      display: block;
      color: black;
      font: 3rem 'cedarville cursive';
    }
    
    #xs-border {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      border-radius: 10px;
    }
    
    #hero-image-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100vh;
      }
    
    #hero-image {
      background: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1595535631/atom_gdlrho.png") repeat fixed, linear-gradient(#f8fad7, #f8fad7);
      background-size: 5rem;
      text-align: center;
      }
    
    h2 {
      margin: 0;
      padding: 1rem 0 1rem 0;
      font: lighter 3rem 'cedarville cursive';
      text-align: center;
      line-height: 1.5;
    }
    
    h3 {
      font-family: 'work sans';
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
    }
    
    details {
    padding: 0 1rem 0 1rem;
    }
    
      details > summary {
      padding: 0.5rem 0 1rem 0;
      width: auto;
      font-size: 1.5rem;
    }
    
    .answer-text {
      padding-top: 1rem;
      }
    
    #process-section, #samples-section, #about-section {
      max-width: 100%;
    }

    #samples-container {
      display: none;
    }
    
    #process-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      background-color: none;
      color: black;
      width: 100%;
      height: auto;
      justify-content: center;
      align-self: center;
      padding: 0rem;
      margin: 0 0 0 0;
    }
    
    .number-image {
      width: 64px;
      height: auto;
      align-self: center;
      padding-top: 1rem;
    }
    
      .gear-story-container {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          width: 100%;
          height: auto;
          justify-items: center;
          align-self: center;
          grid-gap: 1rem;
          padding: 10vh 0 1.5rem 0;
          margin: 0 0 0 0;
          border: none;
          background-color: white;
        }
    
        #covid-text {
          padding: 1rem;
        }
    
      #pricing-box {
          padding-top: 12vh;
          width: 100%;
          background-color: #F8F1FF;
          text-align: center;
      }
    
      .thick-link {
          font-weight: bold;
          border-bottom: 7px solid #E2CBD8;
        }
    
      .no-display {
          display: none;
          }
    
      #small-samples-container {
      display: grid;
      grid-template-rows: auto auto auto auto auto auto auto auto;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      grid-gap: 1rem;
    }
    
    iframe {
      display: flex;
      border: 0;
      width: 95%;
      height: 42px;
      align-self: center;
    }
    
      #about-container {
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 0 0 0 0;
      }
    
        #bio-text {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 90%;
          border: none;
          padding: 1rem 1rem 1rem 1rem;
        }
    
        #contact-container {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          justify-content: center;
          align-self: center;
          grid-gap: 2rem;
        }
    
       #footer-container-wrapper {
          display: flex;
          justify-content: center;
          background: white url("images/resized-kurt.jpg") no-repeat fixed bottom center;
          background-size: cover;
          height: auto;
          padding-top: 1rem;
          width: 100%;
        }
    
        #footer-container {
         display: flex;
         background-color: black;
         filter: opacity(60%);
         margin-top: 2rem;
         width: 100%;
        }
    
        footer {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 1fr 1fr 1fr;
          grid-gap: 0.5rem;
          width: 95%;
          color: silver;
          font-size: 1rem;
          line-height: 1.5;
          padding: 1rem 0 1rem 0;
        }

}
 

/******************M styles************************/
@media only screen 
  and (min-device-width: 768px)
  and (max-device-width: 990px) {

  main {
    font-size: 120%;
    width: 100%;
  } 

  nav {
    display: grid;
    grid-template-columns: 15% 1fr;
  }

  #logo-container div {
    display: none;
  }

  #process-section {
    max-width: 100%;
  }

  #process-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: none;
    color: black;
    width: 100%;
    height: auto;
    min-height: 30vh;
    justify-content: center;
    align-self: center;
  }

  .gear-story-container {
    margin: 0 0 0 0;
  }

  #small-samples-container {
    display: none;
  }
    #samples-container {
      margin: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto auto;
      grid-gap: 0.625rem;
      align-items: start;
      justify-items: center;
      }

  #bio-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    border: 1px solid #E2CBD8;
    padding: 1.5rem 1rem 1.5rem 1rem;
      }

}

/******************L styles************************/
@media only screen 
  and (min-device-width: 991px)
  and (max-device-width: 1199px) {

  main {
    font-size: 110%;
    width: 100%;
  } 

  nav {
    display: grid;
    grid-template-columns: 15% 1fr;
  }

  #logo-container div {
    display: none;
  }

  #process-section {
    max-width: 100%;
  }

  #process-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: none;
    color: black;
    width: 100%;
    height: auto;
    min-height: 30vh;
    justify-content: center;
    align-self: center;
  }

  .gear-story-container {
    margin: 0 0 0 0;
  }

  #small-samples-container {
    display: none;
  }
    #samples-container {
      margin: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto auto;
      grid-gap: 0.625rem;
      align-items: start;
      justify-items: center;
      }

  #bio-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    border: 1px solid #E2CBD8;
    padding: 1.5rem 1rem 1.5rem 1rem;
      }

}

/******************XL styles************************/
@media only screen 
  and (min-device-width: 1200px) {
    

    #small-samples-container {
      display: none;
    }
    }
